
.container {
    padding: 20px;
    background-color: #f7f7f7;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Ensures child elements stack vertically */
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f39c12;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 30px; /* Increase space below navbar */
  }
  
  
  .navTitle {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navLinks {
    display: flex;
    list-style-type: none;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  .navLink {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  .filterSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px; /* Add space above filter section */
    margin-bottom: 10px;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 0;
  }
  
  
  .filterDropdown {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 200px;
    text-align: center;
  }
  
  .menuSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .dishCard {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .dishImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .dishName {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
  }
  
  .dishPrice {
    font-size: 16px;
    color: #555;
  }
  
  .dishRating {
    font-size: 14px;
    color: #777;
  }
  
  .dishCuisine {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .added {
    background-color: #2ecc71; 
  }
  
  .addToCartButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f39c12;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .addToCartButton:hover {
    background-color: #e67e22;
  }
  
  .added:hover {
    background-color: #27ae60; 
  }
  
  .quantityCount {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
  }
  
  
  